.deskheader {
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

    nav{
        font-size: 14px;
        padding:27px 224px;

    }
    

    &__menu{
        display: none; //hidden for mobile
        border: 3px;
        border-style: solid;
        border-color: $darkViolet;
        padding-top: 10px;
        padding-bottom:10px;
        padding-right:8px;
        padding-left: 8px;

        > span{
             display: block;
             width: 16px;
             height: 2px;
             background-color: $darkViolet;
             opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;

             &:not(:last-child){
                 margin-bottom: 3px;
             }
        }
    }

    &__links{
        display: inline-block;
        margin:0px;
        padding:0px;
        letter-spacing: 2px;
        
        >a{
            padding: 0px 10px;
        }
        
        >a:last-child{
            color: $darkViolet;
            border: 2px;
            font-weight: 700;
            border-style: solid;
            border-color: black;
            padding: 10px 24px;
            margin-left: 30px;

            &:hover{
                background-color: $darkViolet;
                color: white;
            }
        }
    }
    &__logo{
        width:$logoSz;  
    }
    
}

@media only screen and (min-width: 375px) and (max-width: 767px){
    .deskheader{
        
    

        width: initial;
        >nav{
            
            padding:30px 22px;
            height: 80px;
            width: 375px;
            
        }

        &__menu{
            position: relative;
            display: block ;
            margin:0;
            border: 3px;
            border-style: solid;
            border-color: $darkViolet;
            padding-top: 10px;
            padding-bottom:10px;
            padding-right:8px;
            padding-left: 8px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
        }
        
        &__links{
            display:none;
        }
        &__logo{
            width:112px;
        }
    }
    #mobileHero{
        width: 100%;
        
    }
}

