.hero{
    position:relative;
    background-color: $darkViolet;
    color:white;
    width:auto;
    height:800px;

    >span{
        display: block;
        position:absolute;
        background-color: white;
        width: 200px;
        height:2px;
        top: 140px;
        left:220px;

    }
    &__mobileImages{
        display: none;
    }
    &__image{
        width: 720px;
        height: 866px;
        position: absolute;
        top:140px;
        right:200px;
    }

    &__patternLeft{
        position: absolute;
        top: 570px;
        width: 260px;
        height:auto
    }
    &__patternRight{
        position: absolute;
        width: 590px;
        top:-14%;
        right:-30px;

    }
    &__title{
        position: absolute;
        top:237px;
        left:220px;
        font-size: $fontLg;
        font-family: "DM Serif Display",sans-serif;
        line-height: $lineHtLg;
    }
    &__text{
        position: absolute;
        width: 717px;
        height:98px;
        top:445px;
        left:220px;
        font-size: $fontMd;
        line-height: 32px;
    }
    &__ctaHero{
        border: 2px;
        position: absolute;
        color: white;
        font-weight: 700;
        font-size:14px;
        letter-spacing: 2px;
        border-style: solid;
        border-color: white;
        padding: 13px 34px;
        top: 575px;
        left: 220px;

        &:hover{
            background-color:white;
            color:$darkViolet;
            cursor: pointer;
        }
    }
    
}



@media only screen and (min-width: 375px) and (max-width: 767px){
   .hero{
    display: flex;
    justify-content: center;
    height:955px;

    >span{
        display:none;
    }
        &__title{
            all: initial;
            position: absolute;
            font-family: "DM Serif Display",sans-serif;
            font-size:47px;
            line-height: 53px;
            color: white;
            text-align: center;
            top:545px;
            padding-left: 2px;
            padding-right: 2px;
            
        }
        &__text{
            position: absolute;
            text-align: center;
            text-justify: center;
            font-size: 15px;
            line-height: 26px;
            width: 300px;
            margin:12px;
            top:653px;
            left:25px;
        }
        &__mobileImages{
            display: block;
        }
        &__image{
            display: none;
        }
        &__patternRight{
            display: none;
        }
        &__patternLeft{
            display:none;
        }
        &__ctaHero{
            position:absolute;
            left:initial;
            font-size: 12px;
            padding: 12px 20px;
            top: 820px;
        }
   }
   #mobile-LeftPattern{
        position: absolute;
        left:0;
        top:452px;
   }
   #mobile-RightPattern{
        position: absolute;
        left:250px;
        top:800px;
    }
}