
//primary colors
$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);
//neutral colors
$veryDarkViolet:hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(276, 2%, 46%);
$veryLightGray: hsl(0, 0%, 98%);

//fonts
$fontSm: 1.09rem;
$fontMd: 1.313rem;
$fontLg: 5.625rem;
$fontXM: 5.75rem;

//line height
$lineHtLg: 5rem;

//image
$iconMd: 7.25rem;